XML/returnconfirmation.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="J3AORD01">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="IDOC">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="EDI_DC40">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="TABNAM" type="xs:string" />
                    <xs:element name="MANDT" type="xs:unsignedByte" />
                    <xs:element name="DOCNUM" type="xs:unsignedInt" />
                    <xs:element name="DOCREL" type="xs:unsignedShort" />
                    <xs:element name="STATUS" type="xs:unsignedByte" />
                    <xs:element name="DIRECT" type="xs:unsignedByte" />
                    <xs:element name="OUTMOD" />
                    <xs:element name="IDOCTYP" type="xs:string" />
                    <xs:element name="MESTYP" type="xs:string" />
                    <xs:element name="MESCOD" type="xs:string" />
                    <xs:element name="MESFCT" type="xs:string" />
                    <xs:element name="SNDPOR" type="xs:string" />
                    <xs:element name="SNDPRT" type="xs:string" />
                    <xs:element name="SNDPRN" type="xs:string" />
                    <xs:element name="RCVPOR" type="xs:string" />
                    <xs:element name="RCVPRT" type="xs:string" />
                    <xs:element name="RCVPRN" type="xs:string" />
                    <xs:element name="CREDAT" type="xs:unsignedInt" />
                    <xs:element name="CRETIM" type="xs:unsignedInt" />
                  </xs:sequence>
                  <xs:attribute name="SEGMENT" type="xs:unsignedByte" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="E1EDK01">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ACTION" type="xs:unsignedByte" />
                    <xs:element name="BELNR" type="xs:unsignedLong" />
                    <xs:element name="AUGRU" type="xs:string" />
                  </xs:sequence>
                  <xs:attribute name="segment" type="xs:unsignedByte" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element maxOccurs="unbounded" name="E1EDK14">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="QUALF" type="xs:unsignedByte" />
                    <xs:element minOccurs="0" name="ORGID" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element maxOccurs="unbounded" name="E1J3K03">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="IDDAT" type="xs:unsignedByte" />
                    <xs:element minOccurs="0" name="DATUM" type="xs:unsignedInt" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element maxOccurs="unbounded" name="E1EDKA1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="PARVW" type="xs:string" />
                    <xs:element name="PARTN" type="xs:unsignedLong" />
                    <xs:element minOccurs="0" name="BNAME" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="E1EDK02">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="QUALF" type="xs:unsignedByte" />
                    <xs:element name="BELNR" type="xs:unsignedLong" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="E1EDKT1" />
              <xs:element maxOccurs="unbounded" name="E1J3P01">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="POSEX" type="xs:unsignedInt" />
                    <xs:element name="MENGE" type="xs:unsignedByte" />
                    <xs:element name="J_3ASIZE" type="xs:unsignedShort" />
                    <xs:element name="J_4KRCAT" type="xs:string" />
                    <xs:element name="WERKS" type="xs:unsignedShort" />
                    <xs:element name="E1EDP02">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="QUALF" type="xs:unsignedByte" />
                          <xs:element name="BELNR" type="xs:unsignedLong" />
                          <xs:element name="ZEILE" type="xs:unsignedInt" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element maxOccurs="unbounded" name="E1J3P03">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="IDDAT" type="xs:unsignedByte" />
                          <xs:element name="DATUM" type="xs:unsignedInt" />
                          <xs:element name="J_3AQUALF" type="xs:unsignedByte" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="E1EDP20">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="WMENG" type="xs:unsignedByte" />
                          <xs:element name="EDATU" type="xs:unsignedInt" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="E1EDP19">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="QUALF" type="xs:unsignedByte" />
                          <xs:element name="IDTNR" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="BEGIN" type="xs:unsignedByte" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>